
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.header{
    width: 100%;
    height: 65px;
    background: #fff;
    position: fixed;
    overflow: hidden
}
.container{
    max-width: 1100px;
    margin: auto;
}
.logo{
    float: left;
    line-height: 65px;
}
.logotam{
    width: 39%;
}
.menu{
    float: right;
    line-height: 65px;
}
.menu ul{
    display: flex;
    list-style: none;
}
.menu a{
    display: block;
    padding: 0px 20px;
    text-decoration: none;
    color: #6d6d6d;
    transition: all 500ms ease;
}
.menu a:hover{
    background: #cc673b;
    color: #fff;
}


.portada{
    width: 100%;
    height: 520px;
    background-size: 100vw 100vh;
}


.content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("img/fondonos.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}  

/* .capa{
    width: 100%;
    height: 100vh;
    position: absolute; 
    background: #38273b;
  
} */
.parrafo{
    /* z-index: 1; */
    width: 579px;
    height: 403px;
    padding: 30px 20px;
    font-size: 15px;
    line-height: 1.5;
    background: #f8f9fa;
    box-shadow: 1px 5px 25px rgb(0 0 0 / 45%);
    border-radius: 5px;
    text-align: justify;
    
}
.parrafo img{
    width: 310px;
    border-radius: 5px;
    float: left;
    margin-right: 15px;
    justify-content: center;
    align-items: center;
}

.cen{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Homer Simpson UI";
    font-weight: 900;
}
.ceser{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Homer Simpson UI";
    font-weight: 700;
    font-size: 19px;
    color: brown;
}
/* .info{
    display: flex;
    justify-content: center;
}   */

.container-servicios{
    background-color: #c5dfcc;
    padding: 36px;
    border-radius: 22px;
}

.container-serviciosden{
    background-color: #ebebeb;
    padding: 39px;
    border-radius: 35px;
}
.imgserv{
    height: 160px;
    width: 270px;
    border-radius: 5px;
}
.portadaser{
    width: 50%;
    height: 220%;
    background-size: 100vw 100vh;
}

.fondoser{
    background-image: url(img/portadaservi.jpg);
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

#imgser{
    height: 150x;
    width: 100%;
}

.container-mapss{
    justify-content: center;
    align-items: center;
  }

  .carousel-inner-ser{
    position: relative;
    width: 100%;
    height: 154px;
    overflow: hidden;
}
.letraser{
    color: #ac9d8e;
    text-transform: none;
    font-weight: normal;
    line-height: 28px;
    margin-bottom: 0px;
}
p {
    font-family: "Constantia", serif;
  }

  h1 {
    font-weight: 900;
  }


.form-register {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }
  